{
	"env": {
		"browser": true,
		"node": true,
		"es6": true,
		"commonjs": true
	},
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaVersion": 2017,
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true,
			"jsx": true
		},
		"sourceType": "module"
	},
	"extends": ["eslint:recommended", "plugin:react/recommended"],
	"plugins": ["react", "prettier"],
	"rules": {
		"prettier/prettier": "error",
		"complexity": ["error", 5],
		"no-console": "off"
	}
}
